
/*
	----------------------------------------
				  	  MENU
	----------------------------------------
*/

.menu_section {
	background-color: #171717;
	font-weight: bold;
}
.mobile_menu_section {
	display: none;
}
.menu {
	height: 60px;
	display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: bold;
	font-family: 'Source Sans Pro';
}

@media (max-width: 600px) {
	.menu_section {
		position: absolute;
		left: -100%;
		transition: 0.3s;
		z-index: 10;
		height: 100vh;
		width: 100vw;
	}
	.menu_section.active {
		left: 0;
	}
	.menu {
		flex-direction: column;
		height: 80%;
		margin-top: 5%;
	}

	.mobile_menu_section {
		display: block;
		padding: 10px;
		background-color: #171717;
	}
}
