
/*
	----------------------------------------
				  	  MENU
	----------------------------------------
*/

.menu_section {
	background-color: #171717;
	font-weight: bold;
}
.mobile_menu_section {
	display: none;
}
.menu {
	height: 60px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    text-transform: uppercase;
    font-weight: bold;
	font-family: 'Source Sans Pro';
}

.menu_section__profile_and_search {
	display: flex;
	align-items: center;
	justify-content: right;
}


@media (max-width: 600px) {
	.menu_section {
		position: absolute;
		left: -100%;
		transition: 0.3s;
		z-index: 10;
		height: 100vh;
		width: 100vw;
	}
	.menu_section.active {
		left: 0;
	}

	.menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;
		height: 80%;
		margin-top: 5%;
	}
	.menu_section__profile_and_search {
		justify-content: center;
		flex-direction: column;
		gap: 7px;
	}

	.mobile_menu_section {
		display: block;
		padding: 10px;
		background-color: #171717;
	}
}
