

.video__text {
	padding-left: 10px;
	margin-top: 20px;
}
.video__text_title {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 22px;
    font-weight: 700;
    width: fit-content;
    
}
.video__text_description {
	font-family: 'Source Sans Pro', sans-serif;  
	font-size: 17px;
	margin-top: 5px;
}


@media (max-width: 700px) {
	.video__text {
		padding-left: 0;
	}
	.video__text_title {
		font-size: 18px;
	}
	.video__text_description {
		font-size: 15px;
	}
}
