aiofiles==0.8.0
aiosqlite==0.17.0
asyncpg==0.25.0
atlastk==0.13
greenlet==1.1.2
httptools==0.3.0
importlib-metadata==4.8.2
iso8601==0.1.16
Jinja2==3.0.3
MarkupSafe==2.0.1
multidict==5.2.0
pypika-tortoise==0.1.1
pytz==2021.3
sanic==21.9.3
sanic-routing==0.7.2
SQLAlchemy==1.4.28
tortoise-orm==0.17.8
typing_extensions==4.0.1
websockets==10.1
zipp==3.6.0
