

.menu__account {
	display: flex;
	justify-content: center;
	align-items: center;
}
.menu__account_login {
	display: flex;
    align-items: center;
    justify-content: center;

	background-color: #ad0c6f;
	border-radius: 8%;
}
.menu__account_login_link {
	padding: 10px 20px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
}

.menu__account_account {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu__account_account_exit {
    margin-left: 12px;
	background-color: transparent;

	width: 25px;
	height: 25px;

	display: flex;
    justify-content: center;
    align-items: center;
}
.menu__account_account_exit_img {
	width: 100%;
	height: 100%;
}

.menu__account_account_inner_text {
	font-size: 22px;
	text-transform: none;
}

