

.menu__account {
	display: flex;
	justify-content: center;
	align-items: center;
}
.menu__account_login {
	display: flex;
    align-items: center;
    justify-content: center;

	background-color: #ad0c6f;
	border-radius: 8%;
}
.menu__account_login_link {
	padding: 10px 20px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
}

