.mobile_top__button {
	position: absolute;
	top: 20px;
	left: 20px;
}
.menu__hide {
	display: none;
	position: absolute;
	top: 20px;
	left: 20px;
	height: 30px;
	width: 30px;
}
.menu__hide_button {
	height: 100%;
	width: 100%;
	padding: 4px 0;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	background-color: transparent;
	outline: none;
	border: none;
}
.menu__hide_button_stick {
	width: 80%;
	height: 3px;
	border-radius: 5%;
	background-color: #fff;
}


@media(max-width: 600px) {
	.menu__hide {
		display: block;
	}
}
