
/*
	----------------------------------------
				  	  Video
	----------------------------------------
*/


.videos__video {
	margin-bottom: 45px;
	width: 300px;
	position: relative;
}
.videos__video_img {
    height: 165px;
    width: 293px;
	position: relative;
}
.videos__video_img_img {
	height: 100%;
	width: 100%;
	position: absolute;
}
.videos__video_text_title {
	font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    font-weight: 700;
    width: fit-content;
    margin-top: 7px;
}
.videos__video_text_text {
	font-family: 'Source Sans Pro', sans-serif;  
	font-size: 15px;
	margin-top: 5px;
}

.videos__video_watched {
	position: absolute;
	top: 7px;
	left: auto;
	right: 15px;
	width: 35%;
	padding: 5px 0;

	display:flex;
	align-items: center;
	justify-content: center;

	background-color: rgba(0, 0, 0, 0.7);
	border-top: 1.5px solid rgba(255, 255, 255, 0.6);
	border-bottom: 1.5px solid rgba(255, 255, 255, 0.6);
}
.videos__video_watched_text {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #ffffff;
	font-weight: bold;
}
