

.menu__list {
	display: flex;
	align-items: center;
	justify-content: center;
}
.menu__list_ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media (max-width: 600px) {
	.menu__list_ul {
		flex-direction: column;
	}
}
