.menu__list_ul_li {
	margin-left: 40px;
	font-size: 15px;
}
.menu__list_ul_li:first-child {
	margin-left: 0;
}


@media (max-width: 600px) {
	.menu__list_ul_li {
		margin-left: 0;
		font-size: 18px;
		margin-top: 16px;
	}
	.menu__list_ul_li:first-child {
		margin-top: 0;
	}
}
