<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>AdultSite</title>
	<link rel="stylesheet" href="/static/css/style.css">
	<link rel="stylesheet" href="/static/css/home.css">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito&family=Roboto&family=Source+Sans+Pro&family=Ubuntu&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Caramel&family=Cookie&family=Fleur+De+Leah&family=Great+Vibes&family=Italianno&display=swap" rel="stylesheet">
</head>
<body>
	
	
	


	<section class="videos-section">
		<div class="container">
			<div class="videos" id="videos">
				<!--
					This part will be loaded dynamically with AJAX
				-->
			</div>
		</div>
	</section>

	<section class="next-videos_section">
		<div class="container">
			<div class="next-videos-selection">
				<button onclick="goToPastPage()" class="next-videos-selection-button" id="next-videos-selection--left"><</button>
				<button onclick="goToNextPage()" class="next-videos-selection-button" id="next-videos-selection--right">></button>
			</div>
		</div>
	</section>

	<section class="footer-section">
		<div class="container">
			<div class="footer">

				<div class="footer__links">
					<ul class="footer__links_ul">
						<li class="footer__links_ul_li">
							<a href="#" class="footer__links_ul_li-link">
								<img src="/static/media/instagram.svg" alt="" class="footer__links_ul_li-link--img">
							</a>
						</li>
						<li class="footer__links_ul_li">
							<a href="#" class="footer__links_ul_li-link">
								<img src="/static/media/youtube.svg" alt="" class="footer__links_ul_li-link--img">
							</a>
						</li>
						<li class="footer__links_ul_li">
							<a href="#" class="footer__links_ul_li-link">
								<img src="/static/media/vk.svg" alt="" class="footer__links_ul_li-link--img">
							</a>
						</li>
						<li class="footer__links_ul_li">
							<a href="#" class="footer__links_ul_li-link">
								<img src="/static/media/facebook.svg" alt="" class="footer__links_ul_li-link--img">
							</a>
						</li>
					</ul>
				</div>	
				<div class="footer__authors">
					<div class="footer__authors_author">
						<div class="footer__authors_author_title footer__authors_author_makariy">
							Makariy Corp.
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script src="/static/js/home.js"></script>
	<script type="text/javascript">

		function menu_top_clicked() {
			var menu = $('.menu-section');
			if (menu.hasClass('active')){
				$('body')[0].style['overflow-y'] = 'scroll';
				menu.removeClass('active');
			}
			else {
				$('body')[0].style['overflow-y'] = 'hidden';
				menu.addClass('active');
			}
		}
	
	</script>
</html>